.error__text {
  font-size: 75px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 80px #fff, 0 0 30px #008000, 0 0 6px #0000ff;
}

.error__text span {
  animation: upper 11s linear infinite;
}

@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99;
    text-shadow: 0 0 80px #fff, 0 0 30px #008000, 0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4;
    text-shadow: none;
  }
}