.register__input {
  width: 100%;
  height: 27px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 30px 0 0;
  padding: 0;
  box-sizing: border-box;
}

.register__input::placeholder {
  color: #ccc;
}
