.profile__info {
  width: 60%;
  display: grid;
  grid-template-columns: minmax(200px, min-content) 18px;
  row-gap: 16px;
  column-gap: 17px;
  align-items: baseline;
  color: #fff;
  margin-right: 20px;
}

@media all and  (max-width: 850px) {
  .profile__info {
    justify-content: center;
  }
}

@media all and  (max-width: 600px) {
  .profile__info {
    text-align: center;
    row-gap: 14px;
    column-gap: 5px;
    margin: 0 auto;
  }
}
