.error__number span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
.error__number span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}

@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
    opacity:0.4;
    text-shadow: none;
  }
}