.header__email {
  max-width: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding-right: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width: 600px) {
  .header__email{
    display: none;
  }
}
