.popup__button-close {
  background-image: url(../../../images/button__close.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -41px;
  right: -25px;
  width: 41px;
  height: 41px;
  border: none;
  padding: 0;
  outline: none;
  transform: translateX(50%);
}

.popup__button-close:hover {
  opacity: .6;
  cursor: pointer;
  transform: translateX(50%);
  transition: opacity .5s;
}

@media all and (max-width: 600px) {
  .popup__button-close {
    background-image: url(../../../images/button__close.svg);
    top: -15%;
    right: 50%;
    transform: translateX(50%);
    width: 30px;
    height: 30px;
  }
}

