.header__logout {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.header__logout:hover {
  opacity: .6;
  transition: opacity .2s;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .header__logout{
    display: none;
  }
}
