@import url(./__number/error__number.css);
@import url(./__text/error__text.css);
@import url(./__link/error__link.css);
@import url(./__message/error__message.css);

.error {
  padding: 40px;
  font-size: 75px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px #b22222,0 0 6px DarkRed;
  color: red;
}