.register__button_disabled {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: .2;
}

.register__button_disabled:hover {
  opacity: .2;
  cursor: not-allowed;
}
