.element__table {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 21px 18px;
  width: 69.8%;
  justify-content: center;
  padding: 0;
}

@media all and (max-width: 600px) {
    .element__table {
        gap: 20px;
    }
}