@import url(./__logo/header__logo.css);

.header {
    display: flex;
    width: 68.90625%;
    border-bottom: 1px solid #545454;
}

@media all and (max-width: 600px) {
    .header {
        width: 100%;
    }
}